h2 {
  font-size: 57px;
}

h2,
h4,
h5,
li,
#current-date,
.footer {
  color: #5a6275;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 16px;
}
h5 {
  text-align: center;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
#current-location-button {
  width: 30%;
  margin-left: 10px;
}
#current-date {
  font-size: 19px;
  font-weight: 550;
  margin: 0;
}

#search-button {
  border-radius: 50%;
  background-color: #ffff;
  border-color: #5a6275;
  font-size: 30px;
  margin: 5px 0px;
  border-color: lightgrey;
}

.card {
  margin-top: 100px;
  max-width: 55%;
  border: 5px solid #5a6275;
  padding-left: 40px;
  padding-right: 30px;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}

#search-input {
  border: 5px solid #5a6275;
  font-size: 26px;
}
#main-icon {
  height: 70px;
}

.daily-forecast,
.weather-forecast-temp {
  border-width: 5px;
  border-radius: 10%;
  text-align: center;
  display: block;
}
.daily-forecast img {
  height: 60px;
}
.weather-forecast-temp {
  color: #202124;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.weather-forecast-temp-min {
  color: #70757a;
}
.chosen-weather {
  border: 1px solid grey;
}
.t-measure {
  font-size: 18px;
  text-decoration: none;
  color: blue;
  position: relative;
  top: -28px;
}
.active {
  color: black;
}
.active:hover {
  cursor: default;
}
.footer {
  margin-left: 330px;
}
